h2 {
    font-size: 3rem;
}

form {
    width: 100%;
}

.home-camps {
    display: flex;
    flex-direction: column;
    align-items: center;

    & button {
        margin-top: 10px;
    }
}

.camp-div {
    font-weight: bold;

    & a {
        text-decoration: none;
        color: white;

        & :hover {
            color: black;
        }
    }

    & ul li {
        list-style: none;
        margin: 5px;
    }
}

#google-map {
    display: flex;
    width: 75%;
    margin: 20px auto;
    box-shadow: 10px 10px 10px;
}

#map-iframe {
    width: 100%;
}

.search-fields {
    display: flex;
    flex-direction: column;
    align-items: center;

    & .home-input {
        margin: 10px 0;
        width: 25%;
        box-shadow: 10px 10px 10px;
    }
}
