.home-camps {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.camp-div {
    font-weight: bold;

    & a {
        text-decoration: none;
        color: white;

        & :hover {
            color: black;
        }
    }

    & ul li {
        list-style: none;
        margin: 5px;
    }
}

.google-map {
    display: flex;
    border: solid blue 3px;
width: 75%;
margin: 0 auto;
}

#map-iframe {
    width: 100%;
    border: solid blue 5px;
}

.search-fields {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;

    & .home-input {
        margin: 10px 0;
        width: 25%;
    }
}

